/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.slider .track {
    -fx-pref-height:15;
}

.slider .thumb {
    -fx-pref-height: 18;
    -fx-pref-width: 18;
}